<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../css/sign-log.css" />
  </head>
  <body>
    <form action="" class="signup">
      <table>
        <tr>
          <td>
            <label class="switch1">
              <input type="checkbox" />
              <span class="slider1">
                <div class="dangnhap">Đăng Nhập</div>
                <div class="dangky">Đăng Ký</div>
              </span>
            </label>
          </td>
        </tr>
        <tr>
          <td>
            <hr>
          </td>
        </tr>
        <tr>
          <td class="input-icons1">
            <input class="tk" type="text" />
          </td>
        </tr>
        <tr>
          <td class="input-icons2">
            <input class="phone" type="text" />
          </td>
        </tr>
        <tr>
          <td class="input-icons3">
            <input class="mk" type="text" />
          </td>
        </tr>
        <tr>
          <td class="">
            <input class="dongy" type="checkbox" value="yes" /> Tôi đồng ý với
            điều khoản và điều kiện
          </td>
        </tr>
        <tr>
          <td class="btn-sigup">
            <button type="submit" id="dongydangky">Đăng Ký</button>
          </td>
        </tr>
      </table>
    </form>
  </body>
</html>
