<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="/jss/script1.js"></script>
</head>
<body>
        <div class="banner-header">
            <img src="../img/header/caythong1.png" alt="">
            <div class="decor-1">KHUYẾN MÃI ĐẶC BIỆT</div>
            <div class="decor-2">CUỐI NĂM</div>
            <div class="decor-3">CUỐI NĂM</div>
            <button class="decor-4"><a href="">MUA NGAY</a></button>
        </div>
        <div class="logo-content">
            <div class="hotline">Hotline đặt hàng
                <button><img src="/img/header/phone.png" alt=""><a href="tel: +84896714266">08967-14-266</a></button>
            </div>
            <div class="nav-menu">
                <div class="language">
                    <div class="language-selected">
                        <img src="https://www.worldometers.info/img/flags/vm-flag.gif" alt="">
                        <div class="lan">VietNam</div></div>
                    <ul>
                        <li><a href="#" class="vie">VietNam</a></li>
                        <li><a href="#" class="en">English</a></li>
                    </ul>
                </div>
                <div class="decor"></div>
                <a href="" class="login">Đăng Nhập</a>
                <div class="decor1"></div>
                <a href="" class="sigin">Đăng Ký</a>
            </div>
            <img src="/img/header/LOGO.png" alt="" srcset="" class="logo">
            <div class="search-box">
                <div class="row">
                    <input type="text"> <img src="/img/header/lookup Background Removed.png" alt="">
                </div>
            </div>
            <a href="#"class="stock"><img src="/img/header/404606732_721770126578098_4356234215409147979_n.png" alt="" srcset=""></a>
        </div>
        <footer>
            <div class="km-email">
                <p>ĐĂNG KÝ NHẬN KHUYẾN MÃI</p>
                <input type="text" placeholder="Nhập email hoặc số điện thoại">
                <button class="decor-4"><a href="">ĐĂNG KÝ</a></button>
            </div>
            <div class="contact">
                <p>Theo dõi chúng tôi trên</p>
                <table>
                    <tr>
                        <td><a href=""><img src="/img/header/zalo.jpeg" alt=""> Zalo</a></td></tr>
                        <tr>
                    <td><a href=""><img src="/img/header/fb.png" alt="">Facebook</a></tr></td>
                </table>
            </div>
        </footer>
</body>
</html>