@font-face {
    font-family:'Monsterat' ;
    src: url(../font/Montserrat/26023618743.ttf);
  }
footer{
    background-color: #FFF;
    display:block;
    position: relative;
    margin-top: -2.2rem;
    left:-0.5rem;
    width: 100vw;
    max-height: fit-content;
}
.km-email{
    width: 100vw;
    height: 7.3125rem;
display: block;
top:0rem;
position:relative;
left: -0rem;
background: #6E80DC;
}
.km-email p{
    color: #FFF;
font-family: Monsterat;
color: #FFF;
font-size: 2.125rem;
font-style: normal;
font-weight: 400;
line-height: normal;
position: relative;
left:3.12rem;
top:2.31rem;
}
.km-email input{
    width: 337px;
height: 55px;
top: 30px;
left:19cm;
position:absolute;
border-radius: 1em;
border: 0cap;
text-indent: 1rem;
}
input::placeholder{
    text-align: center;
}
input:-ms-input-placeholder{
    text-align: center;
}
.footer .km-email .decor-4{
    top:7rem;
    left:90px;
    width:5cm;
}

/*  */
.contact{
    background-color: #fff;
height: 18rem;
    width: 100vw;
    position:relative;
    left:-0.2rem;
}
.contact p{
    color: #000;
text-align: center;
font-family: Montserrat;
font-size: 25px;
font-style: normal;
font-weight: 900;
line-height: normal;
width: 449px;
height: 64px;
flex-shrink: 0;
margin-bottom: 0;
}
.contact table{
    position:absolute;
    left:1cm;
    
}
.contact td{
    padding:10px
}
.contact img{
    width:48px;
    height: 48px;
}
.contact a{
    text-decoration: none; 
    padding:50px;
    color:#000;
    font-weight: 700;
    font-family:Inter;
}
