@font-face {
    font-family: "Montserrat";
    src: url(/font/Montserrat/26023618743.ttf);
}
@font-face {
  font-family: "Lalezar";
  src: url(/font/Lalezar/Lalezar-Regular.ttf);
}
@font-face {
  font-family: "Inter";
  src: url(/font/Inter/Inter-VariableFont_slnt\,wght.ttf);
}
  * {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .banner-qc {
    display: block;
    background-color: #fff;
    /* position: relative;
    left: -0.5rem; */
    height: 50vw;
    width: 100vw;
  }

  .banner-qc hr{
    width: 100vw;
    height: 4vw;
    background: #d9d9d9;
    border: none;
  }
  
  .container {
    display: block;
    max-width: 90%; /* (1320 / 16) */
    padding: 3.25vw; /* (52 / 16) */
    max-height: 65%; /* (360 / 16) */
    margin-left: 1vw;
    padding-bottom: 0;
    padding-top: 6vw;
    
    /* position: relative;
    top: -62rem;
    left: rem; */
  }
  
  .slider-wrapper {
    /* position: relative; */
    max-width: 90%;
    margin: 0 auto;
    height: 20%;
  }
  
  .slider {
    display: flex;
    aspect-ratio: 16/9;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0, 0, 0.25);
    height: 100%;
    width: 100%;
  }

  @media all and (max-width: 480px) {
    .round1,.round2 {
      display:none;
    }

  }
  
  .slider img {
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
    height: 50%;
    width: 100%;
    border-radius: 3vw;
  }
  
  .nav-slide {
    display: flex;
    column-gap: 1rem;
    position: absolute;
    /* top: 21rem; */
    left: 50%;
    top:48vw;
    transform: translateX(-50%);
    z-index: 1;
  }
  
  .nav-slide > a {
    width: 0.7vw;
    height: 0.7vw;
    border-radius: 50%;
    background-color: green;
    opacity: 0.75;
    transition: opacity ease 250ms;
  }
  
  .nav-slide a:hover {
    opacity: 2;
  }
  
  .container button {
    width: 3.5vw; /* (51px / 16) = 3.1875rem */
    height: 3.5vw; /* (51px / 16) = 3.1875rem */
    border-radius: 50%;
    border: 0;
    padding: 0;
    position: absolute;
  }
  
  .next {
    position: relative;
    left: 88vw; 
    top:36vw; 
  }
  
  .round1 {
    position: relative;
    background-color: #efa7cf;
    width: 3.5vw;
    height: 3.5vw;
    border-radius: 50%;
  }
  
  span {
    z-index: 999;
    height: 0.2vw;
    margin: 0.2vw;
    width: 1.3vw;
    background: #ff1095;
    transition: 0.4s ease;
  }
  
  .round1 span:first-child {
    display: block;
    position: absolute;
    transform: rotate(135deg);
    left: 15%;
    bottom: 33%;
  }
  
  .round1 span:nth-child(2) {
    display: block;
    position: absolute;
    transform: rotate(135deg);
    left: 45%;
    bottom: 33%;
  }
  
  .round1 span:nth-child(3) {
    display: block;
    position: absolute;
    transform: rotate(-135deg);
    left: 15%;
    bottom: 59%;
  }
  
  .round1 span:nth-child(4) {
    display: block;
    position: absolute;
    transform: rotate(-135deg);
    left: 45%;
    bottom: 59%;
  }
  
  .round1:hover span:nth-child(1) {
    transform: rotate(-225deg);
  }
  
  .round1:hover span:nth-child(2) {
    transform: rotate(-225deg);
  }
  
  .round1:hover span:nth-child(3) {
    transform: rotate(225deg);
  }
  
  .round1:hover span:nth-child(4) {
    transform: rotate(225deg);
  }
  
  /* prev */
  .prev {
    position: relative;
    left:7vw;
    top:36vw;
  }
  .round2 {
    position: relative;
    background-color: #efa7cf;
    width: 3.5vw;
    height: 3.5vw;
    border-radius: 50%;
  }
  
  .round2 span:first-child {
    display: block;
    position: absolute;
    transform: rotate(45deg);
    left: 10%;
    bottom: 33%;
  }
  
  .round2 span:nth-child(2) {
    display: block;
    position: absolute;
    transform: rotate(45deg);
    left: 40%;
    bottom: 33%;
  }
  
  .round2 span:nth-child(3) {
    display: block;
    position: absolute;
    transform: rotate(135deg);
    left: 10%;
    bottom: 59%;
  }
  
  .round2 span:nth-child(4) {
    display: block;
    position: absolute;
    transform: rotate(135deg);
    left: 40%;
    bottom: 59%;
  }
  
  .round2:hover span:nth-child(1) {
    transform: rotate(225deg);
  }
  
  .round2:hover span:nth-child(2) {
    transform: rotate(225deg);
  }
  
  .round2:hover span:nth-child(3) {
    transform: rotate(-225deg);
  }
  
  .round2:hover span:nth-child(4) {
    transform: rotate(-225deg);
  }
  
  /* service */
  .service {
    display: block;
    position: relative;
    background-color: #efa7cf;
    width: 73.75rem;
    height: 7.5rem;
    left: 8rem;
    top: -62rem;
    border-radius: 3em;
  }
  



  /* danh muc san pham */
  .danhmuc-section {
    width: 100vw;
    height: 25vw;
    background-color: #F4C1DE;

    
  }
  .catgory1 {
    width: 100vw;
    height: 100%;
    background: #d99bbd;
  }
  
  .cat-title {
    color: #000;
    font-family: "Montserrat";
    font-size:2.3vw; 
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: block;
   
    padding-top: 2vw;
    margin-left: 3vw;
  }

  
  .danhmuc {
    width: 80%;
    height: 60%;
    padding-top: 3%;
    padding-left: 10%;
  }
  .danhmuc ul {
    list-style: none;
    display: flex;
    height: 100%;
    width: 100%;
  }
  .danhmuc > a {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0;
  }
  .danhmuc ul li {
    /* margin-right: -7.6px; */

    margin:1vw;
    padding: 0;
    height: 90%;
    width: 90%;
    
  }

  .danhmuc ul li > a{
    width: 100%;
    height: 100%;
    opacity: 1;
  }

  .danhmuc img {
    width: 100%;
    height: 100%;
    margin: 0;
    border-radius: 2vw;
    opacity: 1;
    transition: .5s ease;
}

.danhmuc a:hover {
    cursor: pointer;
    opacity: 0.5; 
}

.cate-name {
    transition: .5s ease;
    opacity: 0;
    position: relative;
    top: -2vw;
    left: 40%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1000000000000;
}

.danhmuc .img:hover .img {
    opacity: 0.5; 
}

.danhmuc .cate:hover .cate-name {
    opacity: 1; 
}

.cate-name {
  font-family: Inter;
    color: #000;
    font-size: 1vw;
    opacity:0;
    font-weight: bold;
}

  /* hr {
    height: 4vw;
    width: 100vw;
    background: #d9d9d9;
    position: absolute;
    top: -9rem;
    display: block;
    border: none;
  } */
  
  /* neww category */
/* 
  .danhmuc-section{
    width: 100vw;
    height:20vw;
    background-color: #F4C1DE;
  }
.cat-title{
    color: #000;
    font-family: "Montserrat";
    font-size:2.3vw; 
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    display: block;
    padding-top: 2vw;
    margin-left: 3vw;
    }
    .category1{
      width: 100vw;
      height:20vw;
    }
.danhmuc{
  display: flex;
      width: 90%;
      height:70%;
      margin-left:10vw;
    }

.danhmuc > a{
  width: 25%;
  height: 100%;
  margin-left: 5vw;
}
.danhmuc a picture >span{
  display: block;
  content:" ";
  background-color: #fff;
  width: 120%;
  height:40%;
}

.danhmuc a > picture{
  background-color: #fff;
  width: 15vw; */
  


.danhmuc a picture > img{
  position: relative;
  top: -11vw;
  left: 15%;
  min-width: 100%;
  max-width: 100%;
  min-height: 35%;
  max-height: 35%;
  transition: all .3s;
  opacity: 1;
  display: block;
}





  /* SANPHAMNOIBAT */
  
  .oproducts {
    width: 100vw;
    height:55vw;
    background-color: #fff;
    /* display: block; */
    /* position: relative;
    top: -28.7rem;
    left: -0.4rem; */
    /* padding-bottom: 2%; */
  }
  /* .oproducts hr {
    top: 2.875rem;
  } */
  
  .oproducts .cat-title {
    margin-top: 2vw;
    /* top: 9rem;
    left: 3rem; */
  }
  .oproducts ul li,  .cproduct ul li,  .gproducts ul li{
    width:23%;
  }
  .oproducts .product {
  
    text-align: center;
    width: 90%;
    height: 100%;
    border: none;
    box-shadow: 0 0 12px rgba(15, 61, 145, 0.12);
    border-radius: 2vw;
    margin-left: 1rem;
    
  }
  .oproducts hr{
    width: 100vw;
    height: 4vw;
    background: #d9d9d9;
    border: none;
  }
  .oproducts .row {
    margin-left: 5%;
    margin-top: 3vw;
  }
  
  .oproducts > a{
    width:100%;
    height:100%;
  }
  .oproducts .product ul {
    display: flex;
  
  }
  
  .product > img {
    width: 90%;
    border-radius: 12px;
  }
  
  .oproducts ul {
    display: flex;
  }
  .pname,.post-content {
    color: black;
    font-family: "Inter";
    font-size: 1.1vw; 
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: left;
    overflow: hidden;
    width: 90%;
    height: 13%;
    text-overflow: ellipsis;
    padding:5%
  }
  .price , p.price {
    color: #ff1095;
    font-family: "Montserrat";
    font-size: 1.4vw; 
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: left;
    margin-left: 0.6rem;
    margin-right: 0.6rem;
    margin-top: 0.8rem;
    margin-bottom:3%;
    width:90%;
    padding:5%;
  }
  #addstock {
    width: 80%;
    height:10%;
    border: none;
    border-radius: 3vw;
    background-color: #6e80dc;
    color: black;
    font-family: "Inter";
    font-size: 1.4vw; 
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 20%;
  }
  
  /* chuc nang */
  
  .cproduct .row .product #addstock {
    background-color: #d99bbd;
  }
  .cproduct ul li{
    width:24%
  }
  .seeall {
    position: absolute;
    bottom: 1vw;
    left: 74.94vw;
    width: 11.125rem;
    height: 2.75rem;
    border-radius: 6.25vw;
    background: #d99bbd;
    text-align: center;
    color: #000;
    font-size: 1.25vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .seeall a {
    color: #000;
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 0.625vw 1.25vw;
    text-decoration: none; /* Remove underline from the link */
  }
  
  /* ttgdinh */
  .gproduct .seeall {
    background-color: #6e80dc;
  }
  
  /* news */
  
  .news {
    width: 100vw;
    height: 62.81vw;
    background-color: #fff;
    /* position: relative; */
    /* top: -29rem;
    left: -0.4em; */
  }
  
  .news .new-title {
    padding-top: 2vw;
    color: #000;
    font-family: "Inter";
    font-size: 2vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-left: 3vw;
    /* position: relative;
    left: 3rem; */
  }
  .news hr {
    opacity: 0.3;
    background: #6e80dc;
    width: 90vw;
    height: 0.3125vw;
    text-align: center;
    margin-left: 3.5vw;
    margin-top: 1vw;
    /* position: relative;
    left: -0.6rem;
    top: 1rem; */
  }
  .news ul {
    display: flex;
    margin-top: 2vw;
    margin-left: 3.5vw;
    /* position: relative;
    top: 1rem;
    left: 0.7rem; */
  }
  .news ul li {
    margin-right: 3rem;
  }
  .news-category {
    width: fit-content;
    height: fit-content;
    padding: 0.5vw 1vw;
    border-radius: 6.25vw;
    border: 1px solid #000;
    background: #fff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
  .news-category a {
    color: #000;
    text-align: center;
    font-family: "Inter";
    font-size: 1.3vw;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .news table {
    /* position: relative;
    left: 3vw;
    top: 2vw; */
    padding-top: 2vw;
    padding-left: 3vw;
    
    
  }
  .left-col img {
    width: 48vw;
    height: 32vw;
    left: 2vw;
    border-radius: 1vw;
    background: #fff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
  .left-col .left-title {
    width: 100%;
    height: 5vw;
    overflow: hidden;
    position: relative;
    top: 2vw;
    font-size: 1.8vw;
    color: #000;
    font-family: "Montserrat";
    font-weight: 900;
  }
  .right-col {
    padding-left: 1vw;
    padding-bottom: 1vw;
  }
  .right-col ul {
    height: 13vw;
  }
  .right-col img {
    width: 17.25vw;
    height: 100%;
    left: 2vw;
    border-radius: 1vw;
    background: #fff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
  .right-col .right-title {
    width: 13.9375vw;
    height: 11vw;
    flex-shrink: 0;
    position: relative;
    font-size: 1vw;
    color: #000;
    font-family: "Montserrat";
    overflow: hidden;
    font-weight: bold;
  }
  
  .right-col ul {
    width: fit-content;
    padding: 0;
    margin: 0;
  }
  
  .right-col ul li {
    padding-right: 1vw;
    width: fit-content;
    margin: 0;
  }
  
  
  
  