.signup {
    display:none;
    position: fixed;
    top: 10rem;
    left: 29rem;
    width: fit-content;
    border: solid #000;
    padding: 4rem;
    border-radius: 3rem;
    z-index: 1000;
    background-color: #fff;
  }
  /* The switch - the box around the slider */
  .switch1 {
    position: relative;
    display: inline-block;
    border-radius: 1.5rem;
    background-color: #e9e9e9;
    width: 20rem;
    height: 5rem;
  }
  
  /* Hide default HTML checkbox */
  .switch1 input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider1 {
    position: absolute;
    cursor: pointer;
    top: 4.8rem;
    left: 0;
    right: 0;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 1.5rem;
  }
  
  .slider1:before {
    position: absolute;
    content: "";
    height: 4.5rem;
    width: 10rem;
    left: 0.25rem;
    bottom: 0.25rem;
    border-radius: 1.5rem;
    background: #6e80dc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  
  /* input:checked + .slider1 {
    background-color: #e9e9e9;
  }
  
  input:focus + .slider1 {
    box-shadow: 0 0 1px #e9e9e9;
  }
  
  input:checked + .slider1:before {
    -webkit-transform: translateX(1rem);
    -ms-transform: translateX(26px);
    transform: translateX(9.5rem);
    background-color: #6e80dc;
  } */
  
  .dangnhap {
    position: relative;
    top: -5rem;
    left: 9.8rem;
    color: #000;
    font-family: Inter;
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 8rem;
    padding: 2rem;
    border-radius: 0.5rem;
  }
  .dangky {
    position: relative;
    top: -8.5rem;
    left: 2rem;
    color: #000;
    font-family: Inter;
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 8rem;
  }
  
  .signup table tr td {
    padding: 0.5rem;
  }
  
  .signup hr {
    width: 20rem;
    top: 10rem;
    left: 5rem;
    height: 0.1rem;
    background-color: #6e80dc;
  }
  
  .signup input {
    text-indent: 2.2rem;
  }
  .input-icons1 input {
    background: url(/img/index/tk.png) no-repeat scroll 0.6rem 0.4rem;
    background-size: 12%;
    padding-left: 30px;
  }
  .tk {
    left: -1rem;
    width: 18rem;
    height: 3rem;
    border-radius: 3.125rem;
    background: #e9e9e9;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
  .input-icons2 input {
    background: url(/img/index/tkphone.png) no-repeat scroll 0.3rem 0.1rem;
    background-size: 17%;
    padding-left: 30px;
  }
  .phone {
    left: -1rem;
    width: 18rem;
    height: 3rem;
    border-radius: 3.125rem;
    background: #e9e9e9;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
  .input-icons3 input {
    background: url(/img/index/clock.png) no-repeat scroll 0.6rem 0.2rem;
    background-size: 15%;
    padding-left: 30px;
  }
  .mk {
    left: -1rem;
    width: 18rem;
    height: 3rem;
    border-radius: 3.125rem;
    background: #e9e9e9;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
  
  .btn-sigup {
    text-align: center;
  }
  .btn-sigup button {
    border-radius: 3.125rem;
    background: #6e80dc;
    border: none;
    width: 12rem;
    height: 3rem;
    font-size: larger;
  }
  .close {
    position: absolute;
    top: 3rem;
    right: 2rem;
    cursor: pointer;
    font-size: 2rem;
  }
  
  /* log in  */
  .login {
    display:none;
    position: fixed;
    top: 10rem;
    left: 29rem;
    width: fit-content;
    border: solid #000;
    padding: 4rem;
    border-radius: 3rem;
    z-index: 1000;
    background-color: #fff;
  }
  
  .login .switch1 {
    position: relative;
    display: inline-block;
    border-radius: 1.5rem;
    background-color: #e9e9e9;
    width: 20rem;
    height: 5rem;
  }
  
  .login .switch1 input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .login .slider1 {
    position: absolute;
    cursor: pointer;
    top: 4.8rem;
    left: 0;
    right: 0;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 1.5rem;
  }
  
  .login .slider1:before {
    position: absolute;
    content: "";
    height: 4.5rem;
    width: 10rem;
    left: 9.8rem;
    bottom: 0.25rem;
    border-radius: 1.5rem;
    background: #6e80dc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  
  /* .login input:checked + .slider1 {
    background-color: #e9e9e9;
  }
  
  .login input:focus + .slider1 {
    box-shadow: 0 0 1px #e9e9e9;
  }
  
  .login input:checked + .slider1:before {
    -webkit-transform: translateX(1rem);
    -ms-transform: translateX(26px);
    transform: translateX(-9.5rem);
    background-color: #6e80dc;
  } */
  .login input {
    text-indent: 2.2rem;
  }
  
  .login hr {
    width: 20rem;
    top: 10rem;
    left: 5rem;
    height: 0.1rem;
    background-color: #6e80dc;
  }
  
  .login table tr td {
    padding: 0.5rem;
  }
  
  .login .input-icons1 input {
    background: url(/img/index/tk.png) no-repeat scroll 0.6rem 0.4rem;
    background-size: 12%;
    padding-left: 30px;
  }
  
  .login .tkdangnhap {
    top: -3rem;
    left: -1rem;
    width: 18rem;
    height: 3rem;
    border-radius: 3.125rem;
    background: #e9e9e9;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
  .login .input-icons2 input {
    background: url(/img/index/tkphone.png) no-repeat scroll 0.3rem 0.1rem;
    background-size: 17%;
    padding-left: 30px;
  }
  .login .phone {
    left: -1rem;
    width: 18rem;
    height: 3rem;
    border-radius: 3.125rem;
    background: #e9e9e9;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
  .login .input-icons3 input {
    background: url(/img/index/clock.png) no-repeat scroll 0.6rem 0.2rem;
    background-size: 15%;
    padding-left: 30px;
  }
  .login .mkdangnhap {
    left: -1rem;
    width: 18rem;
    height: 3rem;
    border-radius: 3.125rem;
    background: #e9e9e9;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
  
  .login .btn-login {
    text-align: center;
  }
  .login .btn-login button {
    border-radius: 3.125rem;
    background: #6e80dc;
    border: none;
    width: 12rem;
    height: 3rem;
    font-size: larger;
  }
  