@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
:root {
    --font-size-base: 16px;
    --margin-base: 16px;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
img {
    width: 100%;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.5;
}

/********CATEGORY********/
.main-container {
    width: 90vw;
    height:68vw;
    margin: 0 auto;
    padding: 1.25em 0;
    transition: transform .5s;
}

.main-container .head-container {
    width: 100%;
    margin-bottom: 10%;
}

.head-container > h2 {
    position: absolute;
    width: 30%;
    height: 2.5em;
    text-align: center;
    background-color: #6E80DC;
    padding: 0.5em;
    border-radius: 2.2em;
    margin-bottom: 2rem;
    margin-left: 15%;
    color: #eee;
}

/* .head-container > p {
    font-weight: 300;
    padding: 1.25em 0;
    opacity: 0.7;
    text-align: center;
} */

.head-container select {
    position: absolute;
    border: none;
    cursor: pointer;
    margin-top: 5%;
    opacity: 0.8;
    padding: 0.6em;
}

.head-container > select:hover {
    border: 0.125em solid #383838;
    border-radius: 0.625em;
}

.category-head {
    margin-right: 20px;
    float: left;
    font-weight: 600;
}

.category-head ul {
    list-style-type: none;
}

.category-title {
    width: 100%;
    display: flex;
    background: #99B9E1;
    padding: 0.625em;
    color: #333;
    margin: 0.625em;
    cursor: pointer;
    border-radius: 2.1875em;
    transition: all 0.6s ease;
    /* margin-right: 10px; */
}

.category-title:hover {
    transform: scale(1.02);
}

.items {
    justify-content: initial;
    background: #fff;
    font-size: 0.8125em;
    padding: 0.125em;
    font-weight: 600;
}

.icon-arrow-right {
    margin-top: 2%;
    margin-right: 0.1875em;
}

.icon-arrow-down {
    margin-top: 0.3125em;
    margin-left: 0.3125em;
    float: right;
}

.category-title:hover {
    background-color: #99B9E1;
    color: blue;
}

.category-title :hover {
    color: blue;
    opacity: 0.8;
}

.list-items li:hover {
    color: blue;
    opacity: 0.8;
}

.category-title li {
    padding: 0 0.625em;
    width: 95%;
}

.category-title a {
    color: #333;
    text-decoration: none;
    padding: 0 0.625em;
    width: 100%;
    margin-top: 3%;
}

.front-img {
    width: 10%;
    height: 10%;
}

.list-items {
    display: none;
    margin-left: 3.125em;
    font-size: 0.8125em;
    font-weight: initial;
}

.list-items li {
    padding: 0.3125em;
}

.show {
    display: block;
}

#posts-main-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2.5em;
    font-family: 'Poppins', sans-serif;
}

#posts-main-container > div {
    box-shadow: 0.5em 1.25em 3.4375em -2.1875em rgba(0, 0, 0, 0.64);
}

.post-content {
    padding: 1.5625em;
}

.post-content p {
    color: #3C84C2;
    font-style: 1.5em;
    font-weight: 700;
    margin-top: 5%;
    letter-spacing: 0.03125em;
}

.product-container h3,
.product-container .post-content p {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    margin-bottom: 10%;
    width: 100%;
    font-size: 1.375em;
    font-weight: 600;
    font-size: 1em;
}

.product-container {
    background-color: #f1f1f1;
    border-radius: 2.1875em;
    transition: linear 1.2s ease-in-out;
}

.product-container:hover {
    border: 0.25em solid #5DAC46;
    border-radius: 2.1875em;
    transform: scale(1.02);
}

.post-img {
    width: 90%;
    margin-left: 5%;
    margin-top: 3%;
}

.category-name {
    position: absolute;
    top: 1.25em;
    left: 1.25em;
    text-transform: uppercase;
    font-size: 0.8125em;
    color: #fff;
    padding: 0.25em 0.625em;
    border-radius: 0.125em;
}

.cart-btn {
    border: none;
    margin: 0.3125em auto;
    padding: 0.5em 0.9375em;
    display: block;
    font-size: 1.125em;
    font-weight: 600;
    cursor: pointer;
    background: #6E80DC;
    margin-bottom: 1.875em;
    border-radius: 2.1875em;
    margin-top: 0;
}

.cart-btn:hover {
    border: 0.1875em solid #6E80DC;
    background: #f6f6f6;
}

.pagination-container {
    margin-left: 45%;
}

.pagination {
    display: flex;
    align-items: center;
    background-color: #fff;
    color: #383838;
    padding: 1.25em 4em;
    border-radius: 0.375em;
}

.pagination li {
    list-style: none;
    margin-top: 2%;
}

.pagination li a {
    display: inline-block;
    margin: 0 0.625em;
    width: 2.1875em;
    height: 2.1875em;
    border-radius: 50%;
    text-align: center;
    font-size: 1em;
    font-weight: 600;
    line-height: 2.25em;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.5s ease;
}

.pagination li a.active {
    color: #fff;
    background-image: linear-gradient(#ff4568, #ff4568);
    background-repeat: no-repeat;
}

.pagination li a:hover {
    background-image: linear-gradient(#fff, #fff);
    color: #333;
    border: 0.1875em solid #ff4568;
    transform: scale(1.2);
}

/***** PAYMENT ******/
.container {

}
.back-icon {
    margin-right: 10px;
}
.payment-container {
    display: flex;
    height: 75vh;
}

.payment-container > div {
    box-shadow: 0.3125em 1.25em 3.125em -1.875em rgba(0, 0, 0, 0.64);
    border-radius: 1.875em;
}

.payment-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2.5em;
    font-weight: 600;
    font-size: 18px;
    padding: 0 30px;
}

.payment {
    background-color: #E9E9E9;
    width: 70%;

}
.payment-item .total-price {
    color: red;
    font-weight: 600;
}
.cart-container {
    height: 50vh;
    overflow: auto;
}
.payment-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2.5em;
    padding: 5px 20px;
    background-color: #fff;
    overflow: hidden;
    transition: all 0.6s ease;
    box-shadow: rgba(100, 100, 111, 0.2) 0 1.25em 2.9em 0;
    border-radius: 25px;
    font-size: 18px;
}
.cart-container::-webkit-scrollbar{
    width: 0;
}
.payment-item:hover {
    transform: scale(1.02);
}

.payment-item .price {
    font-weight: 600;
    margin-left: -10%;
}
.payment-item .quantity {
    font-weight: 600;
    margin-left: -10%;
}

.payment-item .img {
    width: 15%;
}

hr {
    background-color: #6E80DC;
    width: 90%;
    margin: 0 auto;
}


.checkout {
    width: 50%;
    height: fit-content;
    margin-left: 1.5625em;

}

.checkout-layout{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 25px;
    padding: 20px;
    background-color: #5358B3;
    border-radius: 20px;
    color: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0 1.25em 2.9em 0;

}

.checkout-layout .form {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    border-bottom: 1px solid #7a7fe2;
    padding-bottom: 20px;
}
.checkout-layout .form h1,
.checkout-layout .form .group:nth-child(1),
.checkout-layout .form .group:nth-child(6) {
    grid-column-start: span 2;
}
.checkout-layout .form input, 
.checkout-layout .form select
{
    width: 100%;
    padding: 10px 20px;
    box-sizing: border-box;
    border-radius: 20px;
    margin-top: 10px;
    border:none;
    background-color: #6a6fc9;
    color: #fff;
}
.checkout-layout .form-payment {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    border-bottom: 1px solid #7a7fe2;
    padding-bottom: 20px;
}

.checkout-layout .form-paymen .form-ship {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.checkout-layout .form-payment .form-discount input{
    width: 55%;
    padding: 10px 20px;
    box-sizing: border-box;
    border-radius: 20px;
    margin-top: 10px;
    margin-right: 10px;
    border:none;
    background-color: #6a6fc9;
    color: #fff;
}
#apply-discount-btn {
    background-color: #5358B3;
    border: none;
    color: #EFA7CF;
}
.checkout-layout .ship {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    font-weight: 600;
    font-size: 18px;
    text-align: center;
}
.checkout-layout .ship-fee {
    color: #EFA7CF;
}
.checkout-layout .ship .icon{
    margin-right: 10px;
}
.last-check {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.last-check .check{
    display: flex;
    justify-content: space-between;
}
.last-check .check #total-price, 
.last-check .check #total-quantity {
    color: #EFA7CF;
    font-weight: 800;
    font-size: 18px;
}
.button-checkout{
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 20px;
    background-color: #49D8B9;
    font-weight: bold;
    color: #fff;
}

/***********/

/***** PAYMENT SUCCESSFUL ******/

.pay-successful {
    width: 400px;
    background: #fff;
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-80%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
    visibility: hidden;
    transition: transform 1s top 1s;
}
.checkOut {
    visibility: visible;
    top: 130%;
    transform: translate(-50%,-80%) scale(1);

}
.pay-successful img {
    width: 70px;
    margin-top: -50px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}
.pay-successful h2 {
    font-size: 38px;
    font-weight: 500;
    margin: 30px 0 10px ;
}
.pay-successful button {
    width: 100px;
    margin-top: 50px;
    padding: 10px 0;
    background: #6fd649;
    color: #fff;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);

}

.pay-successful-online{
    width: 400px;
    background: #fff;
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%) scale(0.1);
    padding: 0 30px 30px;
    color: #333;
    border: 1px solid #ccc;
    height: 60vh;
    visibility: hidden;
}
.checkOut-online {
    visibility: visible;
    top: 130%;
    transform: translate(-50%, -80%) scale(1);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}
.pay-successful-online hr {
    border:1px solid #ccc; 
    margin: 0 15px;
}
.pay-successful-online a{
    width: 100%;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pay-successful-online .card-details input{
    width: 90%;
}
.pay-successful-online .card-details input[type='submit'] {
    width: 100px;
    margin-top: 10px;
    margin-left: 30%;
    padding: 10px 0;
    background: #6fd649;
    color: #fff;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
}
/* svg{
    width: 30px;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
.icon-cart{
    position: relative;
}
.icon-cart span{
    position: absolute;
    background-color: red;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #fff;
    top: 50%;
    right: -20px;
}
.title{
    font-size: xx-large;
}
.listProduct .item img{
    width: 90%;
}
.listProduct{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.listProduct .item{
    background-color: #EEEEE6;
    padding: 20px;
    border-radius: 20px;
}
.listProduct .item h2{
    font-weight: 500;
    font-size: large;
}
.listProduct .item .price{
    letter-spacing: 7px;
    font-size: small;
}
.listProduct .item button{
    background-color: #353432;
    color: #eee;
    border: none;
    padding: 5px 10px;
    margin-top: 10px;
    border-radius: 20px;
} */

/* cart */
.cartTab{
    width: 500px;
    background-color: #D9D9D9;
    color: #333;
    position: fixed;
    top: 0;
    right: -500px;
    bottom: 0;
    display: grid;
    grid-template-rows: 70px 1fr 100px 70px;
    transition: .5s;
    border-radius: 25px;
    padding: 20px;
}
body.showCart .cartTab{
    right: 0;
}
body.showCart .main-container, body.showCart .banner-header,
body.showCart .main-container, body.showCart .logo-content{
    transform: translateX(-150px);
}

.cartTab h1{
    text-align: center;
    padding: 10px;
    font-weight: 600;
    background-color: #eee;
    border-radius: 25px;
    border: 2px solid gray;
}
#sale-content {
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
    font-weight: 600;
}
#sale-input{
    display: none;
    width: 100%;
    padding: 10px;
    background-color: #eee;
    border-radius: 25px;
    border: 2px solid gray;
    margin-left: 2%;
}

.cartTab #total{
    width: 100%;
    margin: 0;
    text-align: center;
    margin-top: 8%;
}

.cartTab .listCart .totalPrice, .cartTab .listCart .name {
    font-weight: 600;
}

.cartTab #total span{
    padding: 20px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 25px;
    background-color: #eee;
    border: 2px solid gray;
}

.cartTab #total strong{
    padding: 20px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 25px;
    background-color: #eee;
    border: 2px solid gray;
}

.cartTab .btn{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}
.cartTab button{
    background-color: #99B9E1;
    border: none;
    font-size: 18px;
    font-family: Poppins;
    font-weight: 600;
    cursor: pointer;
    border-radius:  30px;
    transition: all .5s ease;
}
.cartTab .close, .cartTab .sale{
    background-color: #eee;
}

.cartTab .checkOut-btn:hover {
    transform: scale(1.1);
}
.cartTab .sale:hover {
    transform: scale(1.1);
}
.cartTab .close:hover {
    transform: scale(1.1);
}
.listCart {
    padding: 10px;
    background-color: #eee;
    border: 2px solid gray;
    border-radius: 25px;
    margin-top: 5%;
}
.listCart .item img{
    width: 100%;
}
.listCart .item{
    display: grid;
    grid-template-columns: 70px 150px 50px 1fr;
    gap: 10px;
    text-align: center;
    align-items: center;
    margin-top: 5%;
    margin-left: 10px;

}
.listCart .quantity span{
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: #99B9E1;
    border-radius: 50%;
    color: #333;
    cursor: pointer;
    transition: all .5s ease;
}
.listCart .quantity span:hover{
    transform: scale(1.1) ;
}

.listCart .quantity span:nth-child(2){
    transform: scale(1.1) ;
    color: #333;
    cursor: auto;
}
.listCart .item:nth-child(even){
    background-color: #eee;
}
.listCart{
    overflow: auto;
}
.listCart::-webkit-scrollbar{
    width: 0;
}

/***** DETAIL ******/
.back-category {
    width: 20%;

}
.back-category .category-title{
    background-color: #6E80DC;
    font-weight: 600;
    color: #eee;
    font-size: 18px;
}
.back-category li {
    list-style: none;
}
.back-category li a{
    color: #eee;
    font-size: 18px;

}
.detail {
    display: flex;
    justify-content: space-evenly;
    font-family: Arial, Helvetica, sans-serif;
}

.content {
    width: 45%;
}

.detail-img {
    width: 40%;
    display: flex;
    flex-direction: column;
    margin-top: 1em;
}

.main-img {
    width: 100%;
    height: 60vh;
    border: 0.0625em dotted black;
    transition: all 0.6s ease;
    border-radius: 2.1875em;
}

.img-detail {
    width: 70%;
    margin-left: 18%;
}

.main-img:hover {
    transform: scale(1.05);
}

.sub-img {
    width: 30%;
    display: flex;
    flex-direction: row;
    gap: 1.25em;
    margin: 1.25em;
}

.main-sub, .sub {
    width: 100%;
    height: 10vh;
    border: 0.125em dotted black;
    border-radius: 0.3125em;
    transition: all 0.3s ease;
}

.main-sub.active {
    border: 0.125em solid rgb(157, 157, 234);
}

.sub.active {
    border: 0.125em solid rgb(157, 157, 234);
}

.main-sub:hover {
    transform: scale(1.1);
}

.sub:hover {
    transform: scale(1.1);
}

.detail-content {
    margin-top: 1.875em;
    background-color: #6E80DC;
    padding: 0.625em 1.5625em;
    border-radius: 2.1875em;
    margin-bottom: 1.875em;
}

.name-detail {
    color: #fff;
}
.price-detail {
    color: #F4C1DE;
    font-weight: 800;
    font-size: 1.5em;
    margin-left: 10%;
    margin-top: 2%;
}

.buyNow-btn, .detail-btn .cart-btn {
    background-color: #6E80DC;
    color: #fff;
    padding: 1.5em;
    font-size: 1.2em;
    font-weight: 800;
    border: none;
    border-radius: 1.3em;
    margin-top: 2%;
    transition: all 0.6s ease;
}

.buyNow-btn {
    margin-right: 10%;
    width: 35%;
}
.detail-btn .cart-btn {
    float: right;
    width: 50%;
}
.buyNow-btn:hover {
    transform: scale(1.2) ;
}

.detail-btn .cart-btn:hover {
    transform: scale(1.2) ;
}

.info-detail {
    margin-bottom: 2%;
    margin-top: 2%;
    background-color: #D9D9D9;
    padding: 5px 15px;
    border-radius: 15px;
}
.info-detail > p {
    padding: 2px;
}

.info-detail p:last-child {
    color: red;
    font-style: italic;
}

.cart-detail {
    margin-right: 10px;
}

.sub-container {
    margin-top: 2%;
    width: 100%;
    /* height: 90vh; */
    background-color: #E9E9E9 ;
    border-radius: 1em;
    display: flex;
    flex-direction: column;

}

.sub-content {
    width: 95%;
    margin: 1.5em 2.2em;
    padding: 1.2em;
    border-radius: 20px;
    background-color: #fff;
}
.sub-content ul{
    list-style: none;
    display: flex;
}

.sub-content ul li{
    margin: 5px 20px;
    transition: all .5s ease;
    color: #0C72BC;
    font-weight: 600;
}
#decription {
    margin-left: 1%;
}
#more-detail {
    text-align: center;
}
.sub-content ul li:hover {
    border-bottom: 0.2em solid #0C72BC;
    border-radius: 0.3em;
    transform: scale(1.2);
}

.sub-items {
    width: 95%;
    margin: 1.5em 2.2em;
    padding: 1.5em;
    border-radius: 1.5em;
    background-color: #fff;
}

.sub-items > h2 {
    color: #0C72BC;
}
.sub-products {
    display: flex;
}

.sub-products .product-container {
    width: 17em; 
    margin: 1.2em; 
}

.sub-products .cart-btn {
    width: 80%;
    font-size: 1em;
}

